
<a class="item" href="{{ path_for('settings.users') }}">
    <i class="user icon"></i>
    User settings
</a>
<a class="item" href="{{ path_for('settings.dashboards') }}">
    <i class="grid layout icon"></i>
    Dashboard settings
</a>