    {% if flash('success') is not empty %}
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">
                Success!
            </div>
            <ul class="list">
                {% for msg in flash('success') %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if flash('error') is not empty %}
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">
                There were some errors with your submission
            </div>
            <ul class="list">
                {% for msg in flash('error') %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}